.iphone-1415-pro-max-1 .image-1 {
  border-radius: 18px;
  background: url('assets/images/image1.png') 50% / cover no-repeat;
  margin: 0 1px 6px 0;
  width: 174px;
  height: 232px;
  position: absolute;
  left: 5rem;
  top: 5rem;
}
.iphone-1415-pro-max-1 .meet-with-seruni {
  margin-right: 1.7px;
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
  margin-top: 5rem;
}
.iphone-1415-pro-max-1 .recap {
  margin: 0 0.3px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}
.ketemu {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 50px;
}
.iphone-1415-pro-max-1 .image-2 {
  background: url('assets/images/image2.png') 50% / cover no-repeat;
  margin-bottom: 18px;
  width: 90px;
  height: 160px;
}
.iphone-1415-pro-max-1 .meet-with-jkt-48 {
  margin-right: 7.7px;
  overflow-wrap: break-word;
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.iphone-1415-pro-max-1 .recap-1 {
  margin-right: 0.3px;
  overflow-wrap: break-word;
  font-family: 'Luckiest Guy';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.iphone-1415-pro-max-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 0 18px 0;
  position: 0;
  box-sizing: border-box;
  margin: 50px;
}

/*table*/
 .tabless {
    font-family: "Montserrat", sans-serif;
    
 }
.gen11 td {
  border: none;
}
    .trainees {
      text-align: center;
    }
          table {
            justify-content: center;
            align-items: center;
              width: 100%;
              border-collapse: collapse;
                max-width: 10px; /* Menetapkan lebar maksimum tabel */
  font-size: 10px; /* Mengurangi ukuran font */
          }
          th, td {
              border: 1px solid black;
              padding: 8px;
              text-align: center;
              width: 30px;
              position: relative;
          }
          th {
              background-color: #e20613;
          }
          .mvp {
            background-color: aqua;
          }
          .mvpd {
        vertical-align: middle; /* Menyamakan tinggi gambar dengan tulisan */
        margin-left: 1px; /* Jarak antara gambar dan teks */
        margin-right: 10px;
        float: right;
        position: relative;
        top: -1px;
    }
          .text-right {
            position: fixed;
            top: 0px;
            justify-content: center;
            align-items: center;
              text-align: right;
          }
          .btn {
              padding: 8px 16px;
              background-color: pink;
              color: white;
              text-decoration: none;
              border: none;
              border-radius: 4px;
          }
          .btn:hover {
              background-color: #ff66b3;
          }
          .mt-2 {
              margin-top: 8px;
          }
          /* Penambahan warna pada teks status */
          .status-1 {
              color: red;
          }
          .status-2 {
              color: blue;
          }
          .status-3 {
              color: green;
          }
          .status-4 {
              color: purple;
          }
          .status-5 {
              color: orange;
          }
          .status-6 {
              color: brown;
          }
